.button {
	display: flex;
	flex-direction: column;
	margin-left: 650px;
	width: 450px;
	height: 70px;
	justify-content: center;
	background-color: #437cbb;
	border-bottom: solid 5px #294a6d;
	border-radius: 15px;
	align-items: center;
	font-size: 45px;
	font-variant-caps: all-small-caps;
}

a#button,
a.button-hover {
	color: white;
}

a#button:link,
a.button-hover {
	text-decoration: none;
	color: white;
}
a#button:visited,
a.button-hover {
	text-decoration: none;
}
a#button:hover a.button-hover {
	text-decoration: none;
}
a#button:active a.button-hover {
	text-decoration: none;
}

.button:hover {
	border-bottom: none;
	background-color: #5298e7;
}
