#table-rows {
	display: grid;
	margin: 30px;
	padding: 10px;
	width: 200px;
	height: 200px;
	font-size: 40px;
}

.row {
}
#cell-1 {
	border-bottom: solid 1px black;
	border-right: solid 1px black;
}

#cell-2 {
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

#cell-3 {
	border-bottom: solid 1px black;
	border-left: solid 1px black;
}

#cell-4 {
	border-top: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}

#cell-5 {
	border: solid 1px black;
}

#cell-6 {
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-bottom: solid 1px black;
}

#cell-7 {
	border-top: solid 1px black;
	border-right: solid 1px black;
}

#cell-8 {
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

#cell-9 {
	border-top: solid 1px black;
	border-left: solid 1px black;
}
